---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
import Contact from '../components/Contact.astro';
import Card from '../components/Card.astro';
import { Icon } from 'astro-icon/components'

---

<Layout 
	title="Mario López - Software Developer"
	description="A software developer with strong focus on versatility and minimalism">
	
	<main>
		<Intro />
		<Contact />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		display: grid;

		grid-template-columns: repeat(4, 1fr);
		gap: 5px;
		grid-auto-rows: minmax(100px, auto);

		align-items: center;
		justify-content: center;
	}

</style>
