---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
import Card from '../components/Card.astro';
import { Icon } from 'astro-icon/components'

---

<Layout 
	title="Mario López - Software Developer"
	description="A software developer with strong focus on versatility and minimalism">
	
	<main>

		<Intro />

	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		transition: all 0.4s;
	}

</style>
