---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
import Contact from '../components/Contact.astro';
import AboutMe from '../components/AboutMe.astro';
import Timezone from '../components/Timezone.astro';
import Picture from '../components/Picture.astro';
import Currently from '../components/Currently.astro';
import Project from '../components/Project.astro';
import Tag from '../components/Tag.astro';

import Card from '../components/Card.astro';
import { Icon } from 'astro-icon/components'

---

<Layout 
	title="Mario López - Software Developer"
	description="A software developer with strong focus on versatility and minimalism">
	
	<main>
		<Intro />
		<Contact />
		<AboutMe />
		<Timezone />
		<Picture />
		<Currently />
		<Project />
		<Tag />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		max-width: calc(1190px);
		color: white;
		font-size: 18px;
		line-height: 1.6;

		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 10px;
		grid-auto-rows: minmax(100px, auto);
		font-weight: 100;
	}

</style>
