<div style="" class="card bg-zinc-800 p-7 col-span-1 md:row-span-2 rounded-lg flex overflow-hidden border-solid border-2 border-slate-600 ">

    <div class="flex flex-col">

        <div>
            <p><strong class="font-bold">About me</strong></p>
            <div>
                <p>Im based in Madrid, Spain 📍</p>
                <p>Im passionate about sports, fashion and music :)</p>
                <br>
                <p>My tools of choice:</p>
                <ul class="list-disc list-inside">
                    <li>Astro</li>
                    <li>Javascript</li>
                    <li>C#</li>
                    <li>Tailwind</li>
                    <br>
                </ul>
                <p>While I have some preferred tools, I always choose the best one for the job, even if it's not on my usual list. My goal is to find the right solution for each project</p>
            </div>
            <br>
        </div>
        
    </div>

</div>

<style>
    /* Estilo CSS */
    .card {
      opacity: 0;
      transform: translateY(-200px);
      animation: slide-up 0.7s ease forwards;
      animation-delay: 0.2s;
    }
    
    @keyframes slide-up {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
</style>