<div class="card bg-zinc-800 p-7 rounded-lg flex relative row-span-1 md:col-span-3 overflow-hidden border-solid border-2 border-slate-600 ">
	
</div>

<style>

/* Estilo CSS */
.card {
  opacity: 0;
  transform: translateY(-200px);
  animation: slide-up 0.7s ease forwards;
}

@keyframes slide-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


</style>
