<div style="grid-column: 1; grid-row: 2;" class="bg-zinc-800 p-7 rounded-lg flex relative overflow-hidden hover:border-solid border-2 border-slate-600 ">

    <div class="flex flex-col">

        <div>
            <p><strong>Let's start working together!</strong></p>
            <div>
                <p class="text-zinc-500">Contact details</p>
                <p>imariolpz@gmail.com</p>
                <p>+34 601 23 90 16</p>
            </div>
            <br>
            <div>
                <p class="text-zinc-500">Socials</p>
                <a href="https://github.com/mariolpzz">Github</a><br>
                <a href="https://www.linkedin.com/in/mario-l%C3%B3pez-moraga-418956252/">LinkedIn</a><br>
            </div>
        </div>
        
    </div>

</div>