<div class="bg-zinc-800 col-span-1 row-span-2 row-start-3 rounded-lg relative overflow-hidden border-solid border-2 border-slate-600">
    <div class="relative flex flex-col h-full">
        <div class="flex-grow">
            <img src="/friends.jpg" class="object-cover w-full h-full" alt="Friends Image"/>
        </div>
        <div class="absolute inset-0 flex items-center justify-center">
            <p class="text-white text-xl font-bold">My Friends & I ❤️</p>
        </div>
    </div>
</div>
