<a href="https://github.com/mariolpzz?tab=repositories">
  <div class="card bg-zinc-800 p-7 col-span-1 row-span-1 rounded-lg flex relative overflow-hidden border-solid border-2 border-slate-600 hover:card-hover">
    
    <div class="flex align-center justify-between w-full">
      <p class="text-3xl">Projects</p>
      <img src="/arrw.png" class="w-3.5 h-3.5">
      
    </div>
    
  </div>
</a>

<style>
  /* Estilo CSS */
  .card {
    opacity: 0;
    transform: translateY(-200px);
    animation: slide-up 0.7s ease forwards;
    animation-delay: 1.2s;
    
  }

  .card:hover img {
    transition: all 0.4s;
    transform: translateY(-10px) translateX(10px); /* Ajusta los valores según tus necesidades */
  }

  @keyframes slide-up {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
