<div style="" class="bg-zinc-800 p-7 col-span-1 row-span-1 rounded-lg flex relative overflow-hidden border-solid border-2 border-slate-600 ">

    <div class="flex flex-col">

        <div>
            <p class="text-4xl">@mariolpzz</p>
        </div>
    </div>

</div>
