<div class="card bg-zinc-800 p-7 md:col-span-2 row-span-1 rounded-lg flex relative overflow-hidden border-solid border-2 border-slate-600 ">
    <div class="flex flex-col">
        <div>
            <p><strong class="font-bold">Time zone</strong></p>
            <p id="spainTime" class="text-white text-6xl font-serif flex justify-center items-center"></p>
        </div>
    </div>
</div>

<script>
// Obtén la hora actual en España
function getSpainTime() {
    const spainTimeElement = document.getElementById('spainTime');
    const spainTime = new Date().toLocaleTimeString('es-ES');
    if (spainTimeElement != null) {
        spainTimeElement.textContent = spainTime + " CET";
    }
}

// Actualiza la hora cada segundo
setInterval(getSpainTime, 1000);

// Llama a la función una vez para establecer la hora inicial
getSpainTime();
</script>

<style>
    /* Estilo CSS */
    .card {
      opacity: 0;
      transform: translateY(-200px);
      animation: slide-up 0.7s ease forwards;
      animation-delay: 0.6s;
    }
    
    @keyframes slide-up {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
</style>
